.reveal {
  font-size: 38px;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
}
  
.reveal em {
  font-style: normal;
}

a {
  font-style: normal;
}

.reveal pre code {
  max-height: 100%;
  font-size: 0.55em;
  line-height: 1.5;
}